<h1>Une nouvelle tâche à été ajoutée à la liste!</h1>

<h5>Bonjour,</h5>

<p>Une nouvelle tâche à été créée par: <%= @task.user %></p>
<p></p>
<p>Cette tâche à été assignée à:  <% @task.assigned_users %>, et est dûe</p>
<p>au plus tard le: <%= @task.deadline %>.</p>
<p>ciao ciao.</p>
